body {
    background-color: #ffffff;
    font-family: "Afacad", serif;
    margin: 0
  }
  
  header {
    display: inline;
  }
  
  header img {
  padding: 14px 1px 10px 20px;
  float: inline-start;
  background-color: #F9D6B0;
  max-width: 48px;
  }
  
  #container {
    display: flex;
    justify-content: space-between; 
    background-color: #F9D6B0;
    height: 72px;
    } 
    
    header h2 {
    font-size: 24px;
    color: #C26B35;
    padding: 0px 20px 0px 0px;
    }
    
    .sottotitolo {
    font-weight: lighter;
    }
    
    header ul {
    display: flex;
    justify-content: space-between;
    background-color: #C26B35;
    list-style: none;
    padding: 10px 80px 10px 80px;
    margin: 0;
    
    }
    
    .item1 {
    font-weight: bolder;
    
    }
    header a {
    
    color: #F9D6B0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    }
    
    header a:hover {
    text-decoration: none;
    font-weight: bolder;
    }



  footer {
    display: flex;
    justify-content: center; 
    padding: 30px;
    background-color: #C26B35;
    margin-top: 50px;
    }
    
    footer a {
    color:#F9D6B0;
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
    }   
    footer ul {
    margin-right: 40px ;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 60px;
    line-height: 140%
    }
    
    
    footer ul a:hover {
    text-decoration: none;
    font-weight: bolder;
    }